@{
    Layout = "BaseLayout.cshtml";
}
 
<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/css/bootstrap.css")
    
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
  <div id="content"></div>
      @Scripts.Render("~/js/bundle.js")
</body>
</html>
